# Python
__pycache__/
*.py[cod]
.venv/
venv/

# 编辑器
.idea/
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# Java / Maven
backend/target/
*.class
*.jar

# Node / Vite
node_modules/
frontend/dist/

# IDE
*.iml
.idea/
.vscode/

